body {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.header__logo {
    padding-left: 1em;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

.header__links {
    justify-content: right;
    
}

.header__link {
    padding-right: 1.5em;
    text-decoration: none; 
}

.header__link, .recreation-section-text {
    color: #E5E7Eb;
    font-size: 18px;
    font-weight: lighter;
}

ul {
    display: flex;
    list-style: none;
}

.recreation-section {
    background-color: #1F2937;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5em;
    padding-bottom: 5em;
    align-items: center;
}

.recreation-section-text {
    display: flex;
    flex-direction: column;
    max-width: 45vw;
}

.recreational-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
}

.recreation__img {
    width: 500px; 
    max-width: 50vw;
    min-width: 280px; 
}

.wildlife-section {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 250px;
    width:20vw;
    min-width: 130px; 
}

.quote-section {
    display: flex;
    flex-direction: column;
}

.terrorist-warning-section {
    display: flex;
    max-width: 500px;
}

.warning-left {
    display: flex;
    flex-direction: column;
}
